#  Pandas 에서 excelfile 를 읽어 DataFrame으로 만들기

In [2]:
import pandas as pd
import os
a = os.getcwd()
print (a)

/home/sungwoo

In [76]:
df=pd.read_excel('/home/sungwoo/Ethnography.xlsx');

In [77]:
print (df['Location'][:3])
print ( ) 
print (df.ix[0])

0            songdo
1    subway station
2              home
Name: Location, dtype: object

No                   1
Time          12:08:00
Location        songdo
Thing         Computer
Group              1-1
Unnamed: 5         NaN
Unnamed: 6         NaN
Name: 0, dtype: object

/home/sungwoo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
df.drop(['Unnamed: 5','Unnamed: 6'],axis=1)[:3]

   No      Time        Location     Thing Group
0   1  12:08:00          songdo  Computer   1-1
1   2  12:08:00  subway station    iPhone   1-1
2   3  20:11:00            home    laptop   1-1

In [6]:
gb=df.groupby('Location')
print (gb)
print (gb.get_group('home').Thing)

<pandas.core.groupby.DataFrameGroupBy object at 0x7f880d684828>
2                 laptop
15         night walking
22           feeding dog
27              drinking
39     sleeping with dog
44                laptop
46                laptop
51                    TV
62                    TV
63                  book
64                 mouse
65            board game
68                    TV
70                 ramen
78                laptop
82                laptop
83                    TV
84                    TV
89             big grape
90                   bed
92                burden
93               carrier
94              computer
96            piggy bank
98              computer
99              computer
108           hair dryer
109          smart phone
112      soju and friend
113              Rabokki
             ...
370                  pot
380                  pot
417                   TV
418             computer
451           smartphone
452           smartphone
453           smartphone
456                 book
461                   tv
464           smartphone
470           smartphone
473               laptop
474               laptop
476                 book
477           smartphone
478                 book
479                 book
487                 book
488              desktop
503           smartphone
625               laptop
628                   TV
630                   TV
631               laptop
633         refrigerator
638           smartphone
647                   TV
648              monitor
649               laptop
656                   TV
Name: Thing, Length: 125, dtype: object

In [7]:
print (df[df.Location == 'home'].Thing)

2                 laptop
15         night walking
22           feeding dog
27              drinking
39     sleeping with dog
44                laptop
46                laptop
51                    TV
62                    TV
63                  book
64                 mouse
65            board game
68                    TV
70                 ramen
78                laptop
82                laptop
83                    TV
84                    TV
89             big grape
90                   bed
92                burden
93               carrier
94              computer
96            piggy bank
98              computer
99              computer
108           hair dryer
109          smart phone
112      soju and friend
113              Rabokki
             ...
370                  pot
380                  pot
417                   TV
418             computer
451           smartphone
452           smartphone
453           smartphone
456                 book
461                   tv
464           smartphone
470           smartphone
473               laptop
474               laptop
476                 book
477           smartphone
478                 book
479                 book
487                 book
488              desktop
503           smartphone
625               laptop
628                   TV
630                   TV
631               laptop
633         refrigerator
638           smartphone
647                   TV
648              monitor
649               laptop
656                   TV
Name: Thing, Length: 125, dtype: object

In [8]:
df[:5]

   No      Time        Location      Thing Group  Unnamed: 5 Unnamed: 6
0   1  12:08:00          songdo   Computer   1-1         NaN        NaN
1   2  12:08:00  subway station     iPhone   1-1         NaN        NaN
2   3  20:11:00            home     laptop   1-1         NaN        NaN
3   4  20:11:00          school  cigarette   1-1         NaN        NaN
4   5  22:42:00        Dongchun     laptop   1-1         NaN        NaN

In [9]:
df.drop(['Unnamed: 5','Unnamed: 6'],axis=1)[:3]

   No      Time        Location     Thing Group
0   1  12:08:00          songdo  Computer   1-1
1   2  12:08:00  subway station    iPhone   1-1
2   3  20:11:00            home    laptop   1-1

In [79]:
df3 = df.reindex(columns=['Time', 'Location', 'Thing' ]).dropna(how='any').sort_values('Thing');

In [30]:
from gensim.models import word2vec
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [84]:
with open('sentences.txt' , 'w') as fp:
    for value in df3.values:
        Location = value[1].replace(' ', '')
        for Thing in value[2].split(','):
            fp.write('%s %s  \n' % (Location,Thing.replace(' ', '')))

In [85]:
sentences = word2vec.Text8Corpus('sentences.txt')

In [86]:
model = word2vec.Word2Vec(sentences, size=100, window=5, min_count=5, workers=4)

2017-10-10 14:52:55,873 : INFO : collecting all words and their counts
2017-10-10 14:52:55,875 : INFO : PROGRESS: at sentence #0, processed 0 words, keeping 0 word types
2017-10-10 14:52:55,877 : INFO : collected 544 word types from a corpus of 1362 raw words and 1 sentences
2017-10-10 14:52:55,878 : INFO : Loading a fresh vocabulary
2017-10-10 14:52:55,880 : INFO : min_count=5 retains 49 unique words (9% of original 544, drops 495)
2017-10-10 14:52:55,881 : INFO : min_count=5 leaves 699 word corpus (51% of original 1362, drops 663)
2017-10-10 14:52:55,882 : INFO : deleting the raw counts dictionary of 544 items
2017-10-10 14:52:55,884 : INFO : sample=0.001 downsamples 49 most-common words
2017-10-10 14:52:55,885 : INFO : downsampling leaves estimated 175 word corpus (25.1% of prior 699)
2017-10-10 14:52:55,886 : INFO : estimated required memory for 49 words and 100 dimensions: 63700 bytes
2017-10-10 14:52:55,887 : INFO : resetting layer weights
2017-10-10 14:52:55,889 : INFO : training model with 4 workers on 49 vocabulary and 100 features, using sg=0 hs=0 sample=0.001 negative=5 window=5
2017-10-10 14:52:55,899 : INFO : worker thread finished; awaiting finish of 3 more threads
2017-10-10 14:52:55,900 : INFO : worker thread finished; awaiting finish of 2 more threads
2017-10-10 14:52:55,901 : INFO : worker thread finished; awaiting finish of 1 more threads
2017-10-10 14:52:55,902 : INFO : worker thread finished; awaiting finish of 0 more threads
2017-10-10 14:52:55,903 : INFO : training on 6810 raw words (842 effective words) took 0.0s, 90182 effective words/s
2017-10-10 14:52:55,904 : WARNING : under 10 jobs per worker: consider setting a smaller `batch_words' for smoother alpha decay

In [69]:
result = model.most_similar(positive=[u'songdo'], negative=[u'laptop'], topn=1)

In [72]:
for el in result:
    print (el[0])

book

In [88]:
result = model.most_similar(positive=[u'home'], negative=[u'songdo'], topn=1)

In [89]:
for el in result:
    print (el[0])

food